<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=title%></title> 
    </head>

    <link rel='stylesheet' href="/custom.css">

    <body>
     
    <div id="root"> 
        <% include ./menubar.ejs %> 

        <div id="side">
        
        </div>

        <div id="con">
            
        <H1 style=""><%=title%></H1>
        <Hr >
        <p> 제목 : <%=boardtitle %></p>
        <p> 글쓴이 : <%=boardname %></p>
        <p> <%=boardconts %></p> 
        <button style="float:right" onclick="location.href='/board'">글 목록</button>

        </div>
        
 
        <% include ./footer.ejs %>
    </div>
    </body>
</html>